name: Backend CI/CD

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"
      - ".github/workflows/backend.yml"
  workflow_dispatch:

jobs:
  build-and-deploy:
    strategy:
      matrix:
        function:
          - backend/functions/place-search
          - backend/functions/image-classifier
          - backend/functions/llm-analyzer
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout GitHub Action"
        uses: actions/checkout@v3
      - name: Login Azure CLI
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Export function app name
        id: export-function-app-name
        working-directory: infrastructure
        run: |
          terraform init
          TOKEN=$(terraform output -raw static_web_app_api_token)
          echo "::add-mask::$TOKEN"
          echo "api_token=$TOKEN" >> $GITHUB_OUTPUT
          if [[ ${{ matrix.function }} == "backend/functions/place-search" ]]; then
            FUNCTION_APP_NAME=$(terraform output -raw function_app_name_place_search)
            echo "function_app_name=$FUNCTION_APP_NAME" >> $GITHUB_OUTPUT
          elif [[ ${{ matrix.function }} == "backend/functions/image-classifier" ]]; then
            FUNCTION_APP_NAME=$(terraform output -raw function_app_name_image_classifier)
            echo "function_app_name=$FUNCTION_APP_NAME" >> $GITHUB_OUTPUT
          elif [[ ${{ matrix.function }} == "backend/functions/llm-analyzer" ]]; then
            FUNCTION_APP_NAME=$(terraform output -raw function_app_name_llm_analyzer)
            echo "function_app_name=$FUNCTION_APP_NAME" >> $GITHUB_OUTPUT
          fi

      - name: Setup Node Environment
        uses: actions/setup-node@v3
        with:
          node-version: "22"

      - name: Install Dependencies (Root)
        working-directory: backend/functions
        run: npm ci

      - name: Build Function
        working-directory: backend/functions
        run: |
          WORKSPACE_NAME=$(basename ${{ matrix.function }})
          npm run build --workspace=$WORKSPACE_NAME
      - name: "Run the Azure Functions action"
        uses: Azure/functions-action@v1
        id: deploy-to-function-app
        with:
          app-name: ${{ steps.export-function-app-name.outputs.function_app_name }}
          package: ${{ matrix.function }}
